.no-posts {
    font-size: 19.2px;
    font-weight: 500;
    width: 98.35%;
    padding: 15px;
    margin: 24px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.posts-list {
    width: 100%;
    max-width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* gap: 20px; */
    padding: 24px 20px;
    box-sizing: border-box;
    justify-content: center;
}

.posts-card {
    position: relative;
    max-width: 280px;
    margin: 10px auto;
    width: 100%;
    /* makes card fill available column */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    /* border: 4px solid; */
    /* border-image: linear-gradient(to bottom right, red, yellow) 1; */
}

.admin-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 6px;

    background: rgba(255, 255, 255, 0.1);
    /* background: rgba(0, 0, 0, 0.4); */
    /* background: rgba(128, 0, 128, 0.6); */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.posts-card:hover {
    transform: scale(1.05);
    /* Optional zoom effect */
}

.image-wrapper {
    position: relative;
    width: 280px;
    height: 200px;
}

.posts-card-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.atom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
    pointer-events: none;
}

.posts-card-title {
    font-size: 18px;
    padding: 3px 15px;
    font-weight: bold;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    min-height: 61px;
}

.posts-card-body {
    color: #333;
    font-size: 14px;
    padding: 5px 15px;
    background-color: white;
    min-height: 115px;
    /* height: 25px; */
}



.list-icon {
    height: 20px;
    width: 20px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    background-color: white;
}

.delete-btn {
    background-color: #f3345b;
    color: #fff;
    padding: 8px 8px 4px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: crimson;
    color: #fff;
    padding: 8px 8px 4px;
    border-radius: 8px;
    cursor: pointer;
}

.edit-btn {
    background-color: cornflowerblue;
    color: #fff;
    padding: 8px 8px 4px 10px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: rgb(67, 126, 235);
    color: #fff;
    padding: 8px 8px 4px 10px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}